* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000 ;
}

.row_poster {
    width: 200px;
    object-fit: contain;
    max-height: 135px;
    margin-right: 10px;
    transition: transform 500ms;
    border-radius: 0.2rem;
    flex-shrink: 0; 
}

.row_poster:hover {
    transform: scale(1.1);
}

.posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.posters::-webkit-scrollbar {
    display: none;
}

.row_L_posters {
    max-height: 250px;
    max-width: 200;
}

.row_L_posters:hover {
    transform: scale(1.1);   
}

.rowname {
    color:antiquewhite;
    margin-left: 35px;
}

.header {
    color: aliceblue;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center bottom;
    object-fit: contain;
    height: 500px;
}

.header_part {
    padding-top: 163px;
    margin-left: 50px;
    height: 190px;
}

.header_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.5rem;
    font-weight: 650;
}

.movie_description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55rem;
    padding-top: 20px;
    line-height: 1.4;
    font-size: 16px;
    max-width: 500px;
    height: fit-content;
}

.header_button {
    cursor: pointer;
    color: aliceblue;
    outline: none;
    border: none;
    border-radius: 0.75vw;
    background-color: rgba(85, 85, 85, 0.5);
    font-weight: 550;
    font-size: 16px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.button_img {
    margin-right: 8px;
    width : 18px;
    height: 13px;
    background-position: center bottom;
}

.header_button:hover {
    color:#000000;
    background-color: aliceblue;
    transition: all 0.2s;
}

.banner--fadebottom {
    margin-top: 200px;
    height: 8rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #000);
}

.netflix {
    width: 100px;
    object-fit: contain;
}

.avatar {
    width: 40px;
    object-fit: contain;
    display: -webkit-box;
    margin-left: auto;
}

.logo {
    margin-top: 1px;
    position: fixed;
    display: flex;
    padding: 20px;
    width: 100%;
    transition-timing-function: ease-in;
    transition : all 0.6s;
}

.blackbg {
    background-color: #000000;
}

.home {
    font-size: 16px;
    font-weight: 450;
    padding-top: 10px;
    margin-left: 50px;
    color: rgb(218, 218, 218);
}

.home:hover {
    color:#444444;
    transition: all 0.2s;
}
